body {
  font-family: 'HelveticaNeue-Light','Open Sans', sans-serif;
  background-color: #white;
  padding-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 60px;
}

.remove:hover {
  color: #428bca;
}

h3 {
  font-size: 2em;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #white;
}

#maintitle {
  color:#34495e	;
	font-size:30px; 
	font-weight: 200;
	letter-spacing: -1px;
	text-align:center;
	text-rendering: optimizelegibility;
	z-index:1;
}

#maintitle2 {
  color: #fdb324;
  font-size:30px; 
  font-weight: 200;
  letter-spacing: -1px;
  text-align:center;
  text-rendering: optimizelegibility;
  z-index:1;
}

.color1 {
  color: #34495e;
}

.color2 {
  color: #fdb324;
}

#cat-button {
  width: 200px;
}

#sub-button {
  width: 200px;
}

#college-button {
  width: 200px;
}

.navbar-default {
   padding-top: 20px;
   background-color: transparent;
   background: transparent;
   margin-bottom: 40px;
   border-color: transparent;

}

.navbar li { color: #000 }

.dropdown:hover #sub-drop {
    display: block;
 }

.dropdown:hover #cat-drop {
    display: block;
}

.dropdown:hover #college-drop {
    display: block;
}

.dropdown-menu {
  margin:0px;
}


